*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: #aaaaaa;
    height: 100vh;
}

.header{
    padding-left: 1vw;
    padding-right: 1vw;
    background: #918199;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista{
    display: flex;
    list-style: none;
    gap: 20px;
}

main{
    padding: 2vw;
    height: 90vh;
}

footer{
    height: 3vh;
    background: blue;
    color: white;
}